{# templates/policy.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Politique des Cookies{% endblock %}

{% block body %}
    <div class="container">
        <h1>Politique des Cookies</h1>
        <p>Charte en matière de cookies</p>

<p>En consultant le site internet www.#.fr et/ou l’application La # (ci-après collectivement dénommés le « Site »), 
en qualité de vendeur professionnel ou non professionnel, 
d’acheteur ou un simple visiteur non inscrit sur le Site,
 vous acceptez la présente Charte en matière de cookies ainsi que la Politique de confidentialité accessible en cliquant
  sur ce lien : https://www.#.fr/informations/politique-confidentialite </p>

<p>Un « cookie » est un petit fichier informatique destiné à recueillir des informations à partir de votre terminal, que ce soit un ordinateur, un mobile ou une tablette. 
Nous utilisons d’autres types de fichiers ayant les mêmes finalités. 
Tous ces fichiers, quelle que soit leur nature, seront ci-après désignés de manière générique comme des « cookies ».</p>

<p>Dans le cadre de notre activité, nous utilisons les différents types de cookies suivants :
Des cookies indispensables au bon fonctionnement du Site et à votre navigation sur le Site notamment assurer la sécurité, prévenir la fraude, suivre la performance technique du Site,
 détecter et résoudre les dysfonctionnements techniques, 
 adapter la présentation de notre Site aux préférences d'affichage de votre terminal (langue utilisée, résolution d'affichage, système d'exploitation utilisé, etc), selon les matériels et les logiciels de visualisation ou de lecture que votre terminal comporte, de conserver votre choix relatif aux cookies.;
Des cookies permettant de vous identifier et de vous distinguer des autres utilisateurs, lorsque vous vous connectez sur notre Site ; ces cookies vous permettent également de ne pas vous authentifier à chaque fois que vous vous connectez au cours d’une même journée sur notre Site (hormis au premier accès) ;
Des cookies permettant de connaître vos préférences et vos habitudes de navigation, de vous géolocaliser approximativement (niveau département) en l’absence d’indication par vos soins de votre code postal lors des recherches d’annonces afin d’assurer le bon fonctionnement du Site, d’améliorer votre expérience sur le Site, de faire des AB tests et de vous proposer du contenu personnalisé ;
Des cookies de mesures d’audience, pour évaluer par exemple le nombre de pages vues de notre Site, le nombre de visites, l’activité des visiteurs de notre Site, la fréquence de leurs visites sur le Site, etc. Ces cookies permettent l’établissement d’études statistiques sur le trafic du Site ;
Des cookies publicitaires sont également susceptibles d’être déposés, par nos partenaires publicitaires, sur notre Site et sur ceux de nos partenaires permettant de suivre votre navigation, de vous adresser des publicités personnalisées sur notre Site et sur ceux de nos partenaires, en fonction de votre profil et de vos centres d’intérêts et d’évaluer votre comportement à l’égard des publicités qui vous sont délivrées, en mesurer l’efficacité et lutter contre la fraude.</p>

<p>L’exploitation des espaces publicitaires sur notre Site contribue au financement des contenus et des services que nous mettons gratuitement à votre disposition.</p>

<p>Nous ne gérons pas les cookies de ces sociétés partenaires et n'avons aucun contrôle ni responsabilité sur ces cookies et sur l’utilisation des données collectées par leur biais. A cet égard, l’utilisation des données contenues dans ces cookies est régie par la politique de confidentialité de ces tiers et ces derniers en sont responsables.</p>

<p>Certains de nos partenaires sont susceptibles de combiner les données collectées via les cookies qu'ils exploitent sur nos services avec d'autres informations que vous leur avez fournies ou qu'ils ont collectées lors de votre utilisation de leurs propres services.</p>

Vous trouverez la liste de nos partenaires publicitaires déposant des cookies sur nos services dans l’onglet « Partenaires » de notre plateforme de gestion des cookies.
<br>
Les cookies exploités par des tiers dans le cadre de la publicité issue d’achats programmatiques : La liste de nos partenaires déposant des cookies sur nos services n’est pas une liste exhaustive car elle ne comprend pas certains cookies déposés par des tiers dans le cadre de la publicité issue d’achats programmatiques (enchères en temps réel ou real time bidding « RTB »). En effet, l’identification du dépôt de cookies dans ce cadre ne peut techniquement être constatée qu’à postériori du dépôt et uniquement pendant la durée de vie de la campagne programmatique.

La durée de vie de ces cookies n’excède pas treize (13) mois.
<br>
Nos cookies - notamment ceux qui sont strictement nécessaires à la fourniture de notre service ou fondés sur notre intérêt légitime - ne nécessitent pas votre consentement préalable (par exemple, les cookies identifiants de session, les cookies d’authentification, les domaines #.fr, carboatservices.fr, caradisiac.com, promoneuve.fr, etc.).
<br>
Certains cookies déposés par des tiers ne nécessitent pas également votre consentement pour les raisons précitées (par exemple, les cookies de mesure d’audience exemptés bénéficiant d’une exemption de consentement, les cookies de gestion des consentements, les cookies de mesure des performances, de sécurité, d’amélioration de nos services ou encore de surveillance technique, etc).

Néanmoins, dans la plupart des cas, nous aurons besoin de votre accord préalable au dépôt et/ou à la lecture des informations contenues dans ces cookies.
<br>

Cet accord est exprimé par votre clic sur le bouton « J’accepte » au sein de la fenêtre d’information de notre plateforme de gestion des cookies, au sein de laquelle vous trouverez des informations sur les finalités des cookies utilisés.

Pour s’opposer aux cookies publicitaires permettant à nos partenaires de vous adresser de la publicité ciblée, vous pouvez cliquer sur le bouton « Je refuse » au sein de la fenêtre d’information sur les cookies.

Vous pouvez cliquer sur le bouton « Préférences » au sein de la fenêtre d’information sur les cookies afin de personnaliser vos préférences de consentement.
<br>

Les choix que vous ferez grâce à notre plateforme de gestion des cookies ne seront valables que dans le cadre de votre navigation sur notre Site.

Vous pouvez changer d’avis à tout moment en cliquant sur : Paramètrer les cookies de sites tiers.
<br>
Vous conservez toujours la possibilité de paramétrer les cookies sur vos différents navigateurs comme expliqué ci-après : www.cnil.fr/fr/cookies-les-outils-pour-les-maitriser.
<br>
De même, vous conservez la possibilité de refuser les cookies de publicité ciblée de nos partenaires en visitant les plateformes interprofessionnelles suivantes :
<br>
https://optout.networkadvertising.org/?c=1#!%2F
<br>
www.youronlinechoices.com/fr/controler-ses-cookies/
<br>
Lorsque vous procédez au blocage des cookies tiers, la consultation du Site reste possible.

Le refus de ces cookies publicitaires n'a pas d'impact sur l'utilisation de notre Site. Cependant, le fait de les refuser n'entraînera pas l'arrêt de la publicité sur notre Site. Cela aura seulement pour effet d'afficher une publicité qui ne tiendra pas compte de vos centres d'intérêt et le cas échéant qui s’affichera sans tenir compte du nombre de fois où vous l’avez déjà vue.
<br>
<br>
Si vous souhaitez vous opposer aux cookies indispensables au bon fonctionnement du Site, alors vous ne pourrez pas utiliser le Site. Ainsi, vous ne pourrez pas faire des recherches d’annonces, créer de compte ou accéder à votre compte sur le Site... En conséquence, vous ne pourrez pas déposer d’annonce, enregistrer des alertes ou encore entrer en contact avec les vendeurs.

Pour vous opposer aux cookies de mesures d’audience, vous pouvez cliquer sur ce lien.
<br>
<br>
Par ailleurs, la procédure pour désactiver le ciblage publicitaire de vos appareils mobiles est la suivante :
<br>
<br>
* sur Apple iOS, rendez-vous sur les réglages de confidentialité, accédez à l’option « publicité » et activez le « suivi publicitaire limité » ;
* sur Android, rendez-vous dans les « Paramètres » de votre téléphone, puis dans « Google » Sélectionnez « Annonces » puis activez l’option « Désactiver personnalisation des annonces ».
<br>
Lorsque vous désactivez le ciblage, les publicités contenant des cookies (c’est à dire les publicités personnalisées en fonction de votre profil et de votre navigation) ne vous seront plus diffusées.
<br>
<br>
Vous pouvez également paramétrer les options de géolocalisation de votre appareil mobile et les applications qui y ont accès :
<br>
<br>
* sur Apple iOS, rendez-vous sur les réglages de confidentialité, accédez à l’option « Service de localisation » et paramétrez les applications qui peuvent accéder à vos données de localisation ;
<br><br>
* sur Android, rendez-vous dans les « Paramètres » de votre téléphone, puis dans « Applications » puis dans « Gestion des autorisations », sélectionnez « Informations de localisation ». Vous pouvez désactiver « La # »..</p>
        <!-- Ajoutez d'autres informations ou détails ici. -->
    </div>
{% endblock %}
